h1 {
    color: brown;
}

* {
    border: solid;
}

.Header {
    background-color: red;
    display: flex;
    justify-content: space-between;
}

.Grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}